@import "tailwindcss";

@theme {
  --color-primary: #895af6;
  --color-background-light: #f6f5f8;
  --color-background-dark: #0f172a;
  /* Slate 900 */
  --color-card-dark: #1e293b;
  /* Slate 800 */
  --color-accent-cyan: #22d3ee;
  --color-accent-green: #0bda6f;
  --color-accent-orange: #fa6c38;

  --font-display: "Inter", "sans-serif";

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

/* Custom Scrollbar for dark mode */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}